/* App.css */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #000000, hsl(120, 2%, 37%));
  color: white;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.form-container {
  display: flex;
}

.entries-container {
  flex-basis: 50%;
  padding: 5px;
}

form {
  flex-basis: 50%;
}

fieldset {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

label p {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}
